.field {
    margin: auto;
    width: 50%;
}
nav h1 {
    margin-left: 5px;
    font-family: 'Paytone One', sans-serif;
}

.paytone {
    font-family: 'Paytone One', sans-serif;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

/* #showInfoDiv{
    
} */

#showImgDiv {
    height: 300px;
    width: 225px;
}

body {
    background-color: #48c774;
}