.navbar {
    border-bottom: solid 5px white;
    padding: 8px;
}
nav h1 {
    margin-left: 5px;
    font-family: 'Paytone One', sans-serif;
}

.paytone {
    font-family: 'Paytone One', sans-serif;
    
}

.ltyellow {
    color: #FEDE81;
}

.purp {
    color:#861657;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.box {
    border: solid 5px white;
    background-color: #FFD166;
    color: #861657;
}

.button {
    background-color: #EF476F;
}

.pborder {
    border: solid 3px #861657;
}

#showImgDiv {
    height: 300px;
    width: 225px;
}

body {
    background-image: url(assets/pexels-pixabay-265685.jpeg);
    background-position: center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #cccccc;
}