

  .hero-head { 
    background-image: url(pexels-pixabay-265685.jpeg); ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
    
  }
  .hero-body { 
    background-image: url(pexels-pixabay-265685.jpeg); ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
    
  }
  .hero-foot { 
    background-image: url(pexels-pixabay-265685.jpeg); ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
    
  }
     h1 {
    padding: 5px;
    border: 50px solid transparent;
    display: inline-block;
   
    
  } 
  #is-size-1 {
      font-size: 1.5rem;
      background-color: rgba(65, 197, 98, 0.507);
  }

  #is-size-4 {
      font-size: 2.5rem
      
  }

  label
  {
    
    /* border-color: black; */
    background-color: #48C774; 
   
  }
  .button {
    border: 5px solid transparent;
    margin: 40px;
    }
    .is-clickable {
      cursor: pointer;
    }

    p:hover {
      background-color: yellow;
    }

    
